.dikiTranslationIframe {
  box-shadow: 0 0 15px black;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 1000000;
  transition: .5s width;
}

.dikiTranslationIframe.visible {
  width: 25vw;
}
